@media screen and (max-width: 1080px), screen and (max-height: 900px) {
  .button {
    width: 84px;
    height: 67px;
    margin: 6px;
  }

  #buttons {
    width: 421px;
    height: 471px;
    font-size: 36px;
  }

  #display {
    width: 421px;
    height: 90px;
    font-size: 32px;
  }

  .zero {
    width: 177px;
    height: 67px;
  }

  .igual {
    width: 364px;
    height: 65px;
    background-color: #fa9014;
  }

  #containerHistorico {
    width: 311px;
    height: 580px;
  }

  .clearButton {
    margin-left: 350px;
    margin-top: 40px;
    font-size: 48px;
  }
}

@media screen and (max-width: 800px) {
  #containerPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  #containerCalculadora {
    margin: 0 auto;
  }
  .button {
    width: 69px;
    height: 73px;
    margin: 5px;
  }

  #buttons {
    width: 347px;
    height: 517px;
    font-size: 36px;
  }

  #display {
    width: 347px;
    height: 99px;
    font-size: 32px;
    margin-bottom: 10px;
  }

  .zero {
    width: 146px;
    height: 74px;
  }

  .igual {
    width: 300px;
    height: 71px;
    background-color: #fa9014;
  }

  .close {
    color: white;
    font-size: 30px;
    float: right;
  }

  #containerHistorico {
    display: none;
  }

  .clearButton {
    margin-left: 280px;
    margin-top: 45px;
    font-size: 48px;
  }

  #containerboxcelular {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 344px;
    height: 45px;
    background-color: white;
    border-radius: 10px;
    color: black;
  }

  #containerhistoricocelular {
    display: block;
  }

  #containerboxcelular > button {
    font-family: Montserrat;
    font-size: 18px;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #historicoExpressoesMobile {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 60px;
    font-family: Montserrat;
    font-weight: 600;
    color: white;
    font-size: 24px;
  }

  .modal {
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    overflow-y: scroll;
  }

  .containerexpressoesmobile {
    display: flex;
    justify-content: center;
  }

  .modal-content {
    background-color: black;
    margin: 0 auto;
    padding: 20px;
    width: 90%;
    height: 77%;
    border-radius: 20px;
    overflow-x: auto;
    overflow-y: scroll;
  }

  .modal-content > p {
    color: white;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 600;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  @keyframes opacityModal {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @media screen and (max-width: 400px), screen and (max-height: 680px) {
    #containerPrincipal {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
    }

    #containerCalculadora {
      margin: 0 auto;
    }

    .button {
      width: 57px;
      height: 60px;
      margin: 5px;
    }

    #buttons {
      width: 287px;
      height: 429px;
      font-size: 36px;
    }

    #display {
      width: 288px;
      height: 82px;
      font-size: 32px;
      margin-bottom: 10px;
    }

    .zero {
      width: 120px;
      height: 62px;
    }

    .igual {
      width: 248px;
      height: 59px;
    }

    #containerHistorico {
      display: none;
    }

    .clearButton {
      margin-left: 230px;
      margin-top: 40px;
      font-size: 38px;
    }

    #containerboxcelular {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 285px;
      height: 45px;
      background-color: white;
      border-radius: 10px;
      color: black;
    }

    #containerhistoricocelular {
      display: block;
    }

    #containerboxcelular > button {
      font-family: Montserrat;
      font-size: 18px;
      border: none;
      background: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #historicoExpressoesMobile {
      font-family: Montserrat;
      font-weight: 600;
      color: white;
      font-size: 22px;
    }
  }
}
