@media screen and (max-width: 1080px), screen and (max-height: 900px) {
  .button {
    width: 84px;
    height: 67px;
    margin: 6px;
  }

  #buttons {
    width: 421px;
    height: 471px;
    font-size: 36px;
  }

  #display {
    width: 421px;
    height: 90px;
    font-size: 32px;
  }

  .zero {
    width: 177px;
    height: 67px;
  }

  .igual {
    width: 364px;
    height: 65px;
    background-color: #fa9014;
  }

  #containerHistorico {
    width: 311px;
    height: 580px;
  }

  .clearButton {
    margin-left: 350px;
    margin-top: 40px;
    font-size: 48px;
  }
}

@media screen and (max-width: 800px) {
  #containerPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .button {
    width: 69px;
    height: 73px;
    margin: 5px;
  }

  #buttons {
    width: 347px;
    height: 517px;
    font-size: 36px;
  }

  #display {
    width: 347px;
    height: 99px;
    font-size: 32px;
    margin-bottom: 10px;
  }

  .zero {
    width: 146px;
    height: 74px;
  }

  .igual {
    width: 300px;
    height: 71px;
    background-color: #fa9014;
  }

  #containerHistorico {
    display: none;
  }

  .clearButton {
    margin-left: 280px;
    margin-top: 45px;
    font-size: 48px;
  }

  #containerboxcelular {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 344px;
    height: 45px;
    background-color: white;
    border-radius: 10px;
    color: black;
  }

  #containerhistoricocelular {
    display: block;
  }

  #containerboxcelular > button {
    font-family: Montserrat;
    font-size: 18px;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-container {
    animation: opacityModal 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: rgba(26, 36, 46, 0.6);
    z-index: 4;
  }

  .top-modal {
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    height: 100px;
    width: 419px;
    background-color: black;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  .container-top-modal {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top-modal button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    cursor: pointer;
    background: transparent;
  }

  .modal {
    width: 419px;
    height: 600px;
    background-color: black;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .container-text h1 {
    font-size: 50px;
    font-family: Poppins;
    font-weight: 400;
    color: black;
  }

  .container-text p {
    margin-top: 20px;
    font-size: 21px;
    font-family: Poppins;
    font-weight: 400;
    color: white;
  }

  #historicoExpressoesMobile {
    margin-top: 60px;
    font-family: Montserrat;
    font-weight: 600;
    color: white;
    font-size: 24px;
    color: white;
  }

  @keyframes opacityModal {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
