:root {
  --background: #44475a;
  --background-darker: #282a36;
  --background-lighter: #2c2f33;
  --white: #f8f8f2;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #f1fa8c;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--white);
  color: var(--white);
  height: 100vh;
}

#containerPrincipal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: var(--background-lighter);
}

#containerCalculadora {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: start;
  align-items: center;
}

#display {
  width: 638px;
  height: 144px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 46px;
  background-color: var(--white);
  color: var(--background-darker);
  font-size: 300%;
  font-weight: 700;
  letter-spacing: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#buttons {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 638px;
  height: 707px;
  border-radius: 20px;
  font-size: 64px;
  font-family: Montserrat;
  font-weight: 300;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
}

.button {
  width: 20%;
  height: 18%;
  border: 1px solid var(--white);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border: none;
  cursor: pointer;
}

.clearButton {
  font-family: Montserrat;
  color: black;
  font-weight: 600;
  font-size: 64px;
  position: fixed;
  transform: translateX(250px);
}

#containerHistorico {
  display: flex;
  flex-direction: column;
  width: 416px;
  height: 897px;
  margin-top: 26px;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  overflow-x: auto;
}

.history-block {
  cursor: pointer;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#historicoExpressoes {
  margin-top: 60px;
  font-family: Montserrat;
  font-weight: 600;
  color: black;
  font-size: 24px;
}

#box {
  display: flex;
  justify-content: center;
}

#containerbox {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 253px;
  height: 73px;
  border-radius: 30px;
  background-color: white;
  color: black;
  font-family: Montserrat;
  font-weight: 600;
}
