:root {
  --background:	#44475a;
  --background-darker:	#282a36;
  --background-lighter:	#6272a4;
  --white:	#f8f8f2;
  --cyan:	#8be9fd;
  --green:	#50fa7b;
  --orange:	#ffb86c;
  --pink:	#ff79c6;
  --purple:	#bd93f9;
  --red:	#ff5555;
  --yellow:	#f1fa8c;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--white);
  color: var(--white);
  height: 100vh;
}

#containerPrincipal {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  overflow: hidden;
}

#containerCalculadora {
  display: flex;
  width: 80%;
  height: 100%;
  flex-flow: column nowrap;
  background-color: var(--background-lighter);
  text-align: center;
  justify-content: start;
  align-items: center;
}

#display {
  width: 100%;
  height: 20%;
  background-color: var(--white);
  color: var(--background-darker);
  font-size: 300%;
  font-weight: 700;
  letter-spacing: 10px;
  border-bottom: 2px solid var(--background);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

#buttons {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 200%;
  background-color: lightgray;
  color: black;
}

.button {
  width: 20%;
  height: 18%;
  border: 1px solid var(--white);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: 5px;
  background-color: gray;
  border: 1px solid darkslategray;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.clearButton {
  width: 82.5%;
}

#containerHistorico {
  width: 20%;
  height: 100%;
  background-color: var(--background);
  text-align: center;
  overflow: scroll;
}

.history-block {
  cursor: pointer;
}
