:root {
  --background: #44475a;
  --background-darker: #282a36;
  --background-lighter: #2c2f33;
  --white: #f8f8f2;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #f1fa8c;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--white);
  color: var(--white);
  height: 100vh;
}

#containerPrincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: var(--background-lighter);
}

#containerhistoricocelular {
  display: none;
}

#containerCalculadora {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-right: 66px;
}

#display {
  width: 585px;
  height: 144px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 46px;
  background-color: #646464;
  color: white;
  font-size: 300%;
  font-weight: 700;
  letter-spacing: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#buttons {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 585px;
  height: 652px;
  border-radius: 20px;
  font-size: 64px;
  font-family: Montserrat;
  font-weight: 200;
  background-color: #0d0d0d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
}

.button {
  width: 116px;
  height: 92px;
  display: flex;
  background-color: #919191;
  align-items: center;
  justify-content: center;
  margin: 8px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.clearButton {
  font-family: Montserrat;
  color: white;
  font-weight: 300;
  font-size: 64px;
  position: fixed;
  margin-left: 500px;
  margin-top: 60px;
  cursor: pointer;
}

#containerHistorico {
  display: flex;
  flex-direction: column;
  width: 433px;
  height: 813px;
  margin-top: 26px;
  border-radius: 20px;
  background-color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  overflow-x: auto;
}

.history-block {
  cursor: pointer;
  margin-bottom: 10px;
}

#historicoExpressoes {
  margin-top: 60px;
  font-family: Montserrat;
  font-weight: 600;
  color: white;
  font-size: 24px;
}

#box {
  display: flex;
  justify-content: center;
}

#containerbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 73px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  background-color: #646464;
  font-size: 30px;
  font-family: Montserrat;
  font-weight: 300;
}

.operacao {
  background-color: #5c97f0;
}

.zero {
  width: 246px;
  height: 93px;
}

.igual {
  width: 506px;
  height: 91px;
  background-color: #fa9014;
}
