:root {
  --background:	#44475a;
  --background-darker:	#282a36;
  --background-lighter:	#6272a4;
  --white:	#f8f8f2;
  --cyan:	#8be9fd;
  --green:	#50fa7b;
  --orange:	#ffb86c;
  --pink:	#ff79c6;
  --purple:	#bd93f9;
  --red:	#ff5555;
  --yellow:	#f1fa8c;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--white);
  color: var(--white);
  height: 100vh;
}

#containerPrincipal {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  
}

#containerCalculadora {
  display: flex;
  width: 80%;
  height: 100vh;
  background-color: var(--background-lighter);
  text-align: center;
  justify-content: center;
  align-items: start;
}

#containerHistorico {
  display: flex;
  flex-grow: 1;
  height: 100vh;
  background-color: var(--background);
  text-align: center;
  justify-content: center;
  align-items: start;
}